<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Justificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title-wrap">
      <h1>Justificaciones Registradas</h1>   
    </div>

    <div class="card">
      <ion-card *ngFor="let j of justificaciones">
        <ion-card-header>
          <ion-card-title>{{j.asignatura}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="wrap">
            <p>Fecha: {{j.fecha}} </p>
            <a (click)="buscarJustificaciones(j)">Ver más</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>

</ion-content>
